body{
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr; /* 200px sidebar, 1fr main content */
    grid-template-rows: 2fr 8fr; /* 2:8 header - to - main-content*/
    grid-template-areas: 
      "sidebar header"
      "sidebar main-content";
    /* set to fill vh */
    min-height: 100vh;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .header {
    grid-area: header;
    /* divide header on 2 rows */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header-top" "header-bottom";
  }
  
  .main-content {
    grid-area: main-content;
    /* set content grid */
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2 parts cards, 1 part news */
    grid-template-areas: "articles news";

  }
  .news{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  
.articles{
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: "your-projects" "cards";
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,50%));
    grid-template-rows: repeat(auto-fit,minmax(200px,30%));
    grid-template-areas: "card";
}


  /* code behind this is for testing, delete/comment-out when done */
  .container,.sidebar,.header,.main-content{ border: 1px solid red;margin:5px}

  .articles, .news{border: 1px dotted blue; margin: 5px;}

  .announcement-card{ border: 1px solid black;margin:10px;padding:15px}

  .header-top,.header-bottom,.your-projects,.cards{border: 1px dotted magenta; margin: 5px;}
  .card{border: 1px solid black;margin: 5px;}